[Unit]
Description=Generates missing host SSH keys
Wants=rng-tools.service
Before=ssh.service
After=rng-tools.service
ConditionPathExists=|!/etc/ssh/ssh_host_rsa_key
ConditionPathExists=|!/etc/ssh/ssh_host_rsa_key.pub

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=dpkg-reconfigure openssh-server
