[Unit]
Description=start service manager on boot

[Service]
Type=simple
ExecStart=/spacepi/bin/service-manager/main.c

[Install]
WantedBy=multi-user.target